// $default-font: "SofiaProExtraLight", Arial, sans-serif;
// $second-font: "FuturaPT-Demi", Arial, sans-serif;
// $title-font: "FuturaPT-Medium", Arial, sans-serif;

$accent: #5ba1af;;
$text: #434a53;
$light-peach: rgba(248, 182, 116, 0.5);
